<div class="pizza-modal modal fade" id="otp-modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog sign-up" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img class="append-attr" data-with="base_url" data-attr="src" src="/assets/images/close.png" alt="close"></span></button>
                <ul class="login-form">
                    <li><a href="javascript:void(0)">Login</a></li>
                    <li><a href="javascript:void(0)">Sign up</a></li>
                </ul>
                <!--login-form-->
            </div>
            <!--modal-header-->

            <div class="modal-body">
                <div class="thank-you">
                    <h3>Thank you</h3>
                    <p>Please enter the OTP shared on <br> 9999999999 to verify your number.</p>


                    <form class="form-horizontal ">

                        <div class="otp-group col-sm-10 col-sm-offset-1">
                            <div class="form-group">

                                <div class="col-sm-3">
                                <input type="text" class="form-control" value="4">
                                </div>

                                <div class="col-sm-3">
                                <input type="text" class="form-control" value="3">
                              </div>


                                <div class="col-sm-3">
                                <input type="text" class="form-control" value="3">
                               </div>

                                <div class="col-sm-3">
                                <input type="text" class="form-control" value="2">
                               </div>

                                <div class="col-sm-12">
                                    <input type="hidden" value="" name="otp">
                                    <div class="help-block"></div>
                                    </div>

                            </div>
                            <!--form-group-->
                        </div>
                        <!--center-align-->

                        <button type="submit" class="btn btn-yellow">Verify Me</button>

                    </form>

                </div>
                <!--thank-you-->
            </div>
            <!--modal-body-->

            <div class="modal-footer">
                <a href="#" class="click-button">Resend OTP</a>
                <a href="#" class="click-button">Change Phone Number</a>
            </div>
            <!--modal-footer-->

        </div>
        <!--modal-content-->
    </div>
    <!--modal-dialog-->
</div>
<!--modal-->
<script>
    $appendAttr('#otp-modal');
</script>